@font-face {
    font-family: 'game';
    src: url('../js/fonts/Kid\ Games.ttf');
}

#mainBox {
    position: absolute;
    background-image: url(../js/images/946424.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#level_easy {
    font-family: game;
    color: rgb(24, 94, 245);
    position: absolute;
    font-weight: 200;
    font-size: 250%;
    left: 27vw;
    top: 70vh;
}

#level_medium {
    font-family: game;
    color: rgb(24, 94, 245);
    position: absolute;
    font-weight: 200;
    font-size: 250%;
    left: 47vw;
    top: 70vh;
}

#level_hard {
    font-family: game;
    color: rgb(24, 94, 245);
    position: absolute;
    font-weight: 200;
    font-size: 250%;
    left: 68vw;
    top: 70vh;
}

#startGame {
    font-family: game;
    background-image: url(../js/images/playnow.png);
    background-size: cover;
    color: rgb(24, 94, 245);
    position: absolute;
    font-weight: 200;
    font-size: 300%;
    left: 45.5vw;
    top: 80vh;
    height: 8%;
    width: 10%;
}

#box {
    position: absolute;
    width: 60vw;
    height: 10vh;
    left: 20vw;
    top: 69vh;
    border-radius: 15px;
    opacity: 0.7;
    background-color: greenyellow;
}

#logo {
    position: absolute;
    background-image: url(../js/images/logo.png);
    background-size: cover;
    width: 350px;
    height: 350px;
    left: 50vw;
    top: 10vh;
}